MONGODB_URI=mongodb://pill-city-resources:27017/db
JWT_SECRET_KEY=supersecret
REDIS_URL=redis://pill-city-resources:6379
SENTRY_DSN=
OPEN_REGISTRATION=true
ADMINS=kt
OFFICIAL=official
GHOST=ghost
NITTER_HOST=nitter.net
NITTER_HTTPS=true
SMTP_ENABLED=false
SMTP_FROM=admin@ktachibana.party
WEB_DOMAIN=localhost:3000
API_DOMAIN=localhost:5000
JWT_ACCESS_TOKEN_EXPIRES=1209600
LINK_PREVIEW_RETRY_PROXIES=
