MONGODB_URI=mongodb://pill-city-resources:27017/db
REDIS_URL=redis://pill-city-resources:6379
S3_URL=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=

API_DOMAIN=localhost:5000
WEB_DOMAIN=localhost:3000

JWT_SECRET_KEY=supersecret
JWT_ACCESS_TOKEN_EXPIRES=1209600

OPEN_REGISTRATION=false
ADMINS=kt
OFFICIAL=official
GHOST=ghost

NITTER_HOST=nitter
NITTER_HTTPS=false
INVIDIOUS_HOST=invidious
INVIDIOUS_HTTPS=false

SMTP_ENABLED=false
SMTP_FROM=admin@ktachibana.party
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

SENTRY_DSN=
